[Unit]
Description=Init UCI wireless config
DefaultDependencies=no
Before=hostapd.service
After=CcspPandMSsp.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/sbin/mac80211.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

