[Unit]
Description=safexcel_insmod
After=tops_insmod.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/sbin/safexcel_insmod.sh
ExecStartPost=/bin/sh -c '(/bin/touch /tmp/safexcel_initialized)'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
