[Unit]
Description=Init PPPQ 
DefaultDependencies=no
after=CcspPandMSsp.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/bin/echo 2 > /sys/kernel/debug/mtk_ppe/qos_toggle"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target